.SendBtn {
    width: 160px;
    border: none;
    outline: none;
    background-color: #4180ff;
    font-size: 26px;
    border-radius: 0 7px 7px 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding-top: 14px;
    transition: .3s;
}

.SendBtn:hover {
    background-color: #5e93ff;
}